/* General Styles */
body {
  font-family: 'Markazi Text', serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header Styles */
header {
  padding-top: 150px;
  background-color: white;
}

header section {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 50px;
  color: #333;
}

header img {
  max-width: 150px;
  height: auto;
}

/* Navigation Styles */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: white;
}

nav img {
  max-width: 200px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding: 1em;
}

nav a {
  text-decoration: none;
  color: #333;
}

/* Main Content Area */
main {
  margin-top: 60px; /* Push down from nav */
  padding-bottom: 40px; /* Add space before footer */
}

/* Call to Action Styles */
.call-to-action {
  background-color: #495e57;
  padding: 40px 20px;
  margin-top: 40px;
}

.cta-content {
  display: flex;
  align-items: center;
}

.cta-image {
  max-width: 200px;
  height: auto;
  border-radius: 12px;
  margin-right: 20px;
}

.cta-text {
  color: white;
}

.call-to-action h1 {
  font-size: 2.5rem;
}

.call-to-action button {
  background-color: #F4CE14;
  color: black;
  padding: 20px;
  border: none;
  border-radius: 12px;
  font-size: 16pt;
  font-weight: bold;
}

/* Specials Styles */
.specials {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.special {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
}

/* Customers Say Styles */
.customers-say {
  margin: 20px 0;
}

.customer {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Chicago Styles */
.chicago {
  padding: 20px;
  text-align: center;
}

.chicago img {
  width: 100%;
  height: auto;
}

/* Footer Styles */
footer {
  background-color: #000;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

footer section {
  flex-grow: 1;
  text-align: left;
}

/* Form Styles */
form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

/* Media Queries */
@media (max-width: 700px) {
  header section, footer section {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  footer section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
  }

  header section {
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-items: center;
  }
}


